@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

*{
    font-family: 'Nosifer', cursive;
}

main{
    background-color: yellow;
    min-height: 100vh;
}

.card{
    // box-shadow: 2px 2px 4px 2px black !important;
    border: 2px solid black !important;
    border-radius: 20px !important;
    background-color: rgb(17, 255, 0) !important;
    transition: all 0.3s ease-in !important;
    &:hover{
        background-color: rgb(99, 213, 42) !important;
        transition: all 0.3s ease-out !important;
    }
}

img{
    object-fit: cover;
}